* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #FDC500 #fff;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    text-decoration: none;


    /* Color palette */
    --amber-100: #f9b000; /*new*/
    --amber-90: #f9ae009f; /*new*/

    --orange-50: #fdb849;
    --primary_color: #f9b000;
    --amber-80: rgba(249, 176, 0, 0.85);
    --amber-70: rgba(249, 176, 0, 0.7);
    --primary_color-5a: rgba(249, 176, 0, 0.5);
    --primary_color-35a: rgba(249, 176, 0, 0.35);
    --primary_color-2a: rgba(249, 176, 0, 0.2);


    --green-100: #3fa34d;
    --white-100: #ffffff; /*new*/
    --white-50: #f2f2f2;
    --white-10: #e5e5e5;
    --black-100: #000000; /*new*/
    --black-90: #222222; /*new*/
    --black-80: #313030;  /*new*/
    --black-50: #747474; /*new*/
    --black-45: #74747477; /*new*/
    --black-40: #7474741b; /*new*/

    --black-10: #d2d2d2; /*new*/


    font-family: "Lato", sans-serif;
    
}

/* ABOUT SECTION */
#aboutMeSection {
    background-color: var(--black-100);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: var(--black-10);
    width: 99.4vw;
    height: 95vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 0% 0% 18% 88% / 70% 50% 30% 25%;
    margin-bottom: 10%;
    gap: 20px;
    
}

#aboutMeSection div{
    padding: 10px;
    display: flex;
}

.imgContainer {
    position: relative;
    width: 580px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainPhoto {
    width: 100%;
    border-radius: 15%;
    width: 520px;
    height: 380px;
    border: 1px solid var(--black-50);
    object-fit: cover;
    -webkit-transform: scaleX(-1);  
    transition: 1s;
}

.mainPhoto:hover {
    z-index: 2;
    width: 490px;
    height: 420px;
}

.secondBottom:hover {
    position: absolute;
    left: -120px;
    top: 280px;
    height: 270px;
    width: 370px;
}

.secondLeft {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    right: -60px;
    top: 0px;
    border: 1px solid var(--amber-90);
    z-index: 1;
    -webkit-transform: scaleX(-1);  
    object-fit: cover;
    transition: 1.6s;
    background-color: #f9b000;
}

.secondLeft:hover {
    position: absolute;
    right: -110px;
    top: 5px;
    width: 250px;
    height: 250px;
}

.aboutMeDescription{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 580px;
    text-align: justify;
}

.aboutMeDescription h1, h2, h4{
    font-weight: 100;
}

.aboutMeDescription h1, span.color {
    color: var(--amber-100);
}

.aboutMeDescription h2 span {
    border-bottom: 1px solid var(--white-50);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.aboutMeDescription h2 {
    margin-bottom: 10px;
}

