* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #FDC500 #fff;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    text-decoration: none;


    /* Color palette */
    --amber-100: #f9b000; /*new*/
    --amber-90: #f9ae009f; /*new*/

    --orange-50: #fdb849;
    --primary_color: #f9b000;
    --amber-80: rgba(249, 176, 0, 0.85);
    --amber-70: rgba(249, 176, 0, 0.7);
    --primary_color-5a: rgba(249, 176, 0, 0.5);
    --primary_color-35a: rgba(249, 176, 0, 0.35);
    --primary_color-2a: rgba(249, 176, 0, 0.2);


    --green-100: #3fa34d;

    /* 3FA34D
    7FB446
    BFC540
    FFD639
    FBAF00

    fb6107 */

    --white-100: #ffffff; /*new*/
    --white-50: #f2f2f2;
    --white-10: #e5e5e5;
    --black-100: #000000; /*new*/
    --black-90: #222222; /*new*/
    --black-80: #313030;  /*new*/
    --black-50: #747474; /*new*/
    --black-45: #74747477; /*new*/
    --black-40: #7474741b; /*new*/

    --black-10: #d2d2d2; /*new*/


    font-family: "Lato", sans-serif;

        /* font-weight: 100; */
    
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* idei proprii */
    /* align-items: center; */
    justify-content: center;
    /* width: 100%; */
    /* width: 100vw; */
}

/*****   HEADER SECTION   *****/
header {
    height: 62px;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
}

/* SCROLL WATCHER */

header > #scroll-watcher {
    position: fixed;
    height: 2px;
    top: 0;
    background-color: var(--amber-100);
    z-index: 1;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to { scale: 1 1; }
}

/* NAVBAR */
#navbar {
    background-color: var(--white-100);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    width: 100%;
}

#navbar a#logo {
    color: var(--black-100);
    font-size: 2em;
}

#navbar > a#logo > p > span.logoName{
    letter-spacing: 8px;
}

#navbar > a#logo > p > span {
    color: var(--amber-100);
    font-style: italic;
    text-transform: uppercase;
}

#navbar > a#logo > p > span.span {
    margin-right: 5px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    padding: 8px 12px;
    list-style-type: none; 
}

#navbar ul li a {
    color: var(--black-90); 
}

#navbar ul li a:hover {
    color: var(--amber-100);
    font-weight: bold;
}

#menu li:first-child a {
    color: var(--amber-100);  
}

.linkUnderline{
    cursor: cell;
}

.linkUnderline:after {
    display:block;
    content: '';
    transform: scaleX(0);  
    transition: transform 550ms ease-in-out;
    padding-bottom:5px ;
}

.linkUnderline:hover:after{ 
    transform: scaleX(1);
    border-bottom: 2px solid var(--black-50);  
    padding-bottom: 3px ;
}

#navbar input[type='checkbox'] {
    display: none;  

}

#navbar label.material-icons {
    display: none;  
    font-size: 30px;
}

/* MAIN SECTION */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------------------ */
/* .goDownAboutMe > img {
    scale: .5; opacity: 0;
    animation: fade-in linear;
    animation-timeline: view(); 
    animation-range-start: contain;

    animation-range-end: contain;

}



@keyframes fade-in {
    to {scale: 1; opacity: 1;}
} */

/* .aboutMeDecription { */

    /* animation: fade-out linear;
    animation-timeline: view(); 
    animation-range-start: exit -50px;
border: 3px solid red; */
    /* animation-range-end: contain; */

/* } */
/* @keyframes fade-out {
    to {opacity: 0;}
}  */

/* ------------------------------------------------------------------------------------------------------ */


/* FOOTER */
footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--amber-100);
    color:var(--black-100);
    margin-top: 84px;
}

/* ANIMATION */
.goDown{
    /* de verificat informatii despre position */
    position: relative;  
    animation-name: goDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes goDown {
    from {top: -200px;}
    to {top: -20px;}
}

/* .goDownSlow{
    position: relative;  
    animation-name: goDownSlow;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes goDownSlow {
    from {top: -200px;}
    to {top: 30px;}
} */


/* ------------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 768px){
    #navbar ul{
        display: none;
        width: 100%;
        flex-direction: column;
       
        /* IDEI DE PROIECT */
        align-items: center;
        justify-content: center;
        height: calc(100vh - 60px); 

    }

    #navbar ul li {
        text-align: center;
        font-size: 3rem;
        border-bottom: 1px solid var(--amber-100);
    
    }
    
    /* #navbar label{ */
        #navbar label.material-icons {
        display: block;
    }

    /* #toggle > label, */
    #navbar label.material-icons {
        display: flex;
        /* position: absolute; */
        left: 0;
        right: 0;
        top: 60px;

        /* background-color: green;
        border :2px solid red;
        width: 100%; */
    }

    #toggle:checked  + #menu {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        background-color: rgba(0, 0, 0, 0.911);
   

    }

    #homeSection {
        /* width: 100%; */
        max-width: 700px;
        /* border: 3px solid red; */
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    #homeSection .homeImg > img{
        margin-top: -100px;
        max-width: 200px;
        /* border: 3px solid red;   */
    }

    #homeSection .homeText{
        width: 100%;
        max-width: 500px;
        max-height: 300px;
        /* border: 3px solid red; */
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
    }

    #homeSection .homeText h1{
        font-size: 2em;
    }

    #homeSection .homeText > h1.jobTitle {
        text-align:center;
        font-size: 2em;
    }

    #homeSection .homeText > h1.jobTitle > span {
        margin: 2px;
        padding: 10px;
        text-align: center;
    
    }

    #homeSection .homeText > .homeDescription {
        text-align:center;
        font-size: 1em;
    }

    #homeSection .homeText .socialMedia{
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    #aboutMeSection {
        max-width: 480px;
        border: 2px solid var(--black-100);
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        background-color: #313030;
    }

    #aboutMeSection .aboutMeDecription{
        margin-top: 50px;
        max-width: 450px;
        display: flex;
    }

    #aboutMeSection img{
        max-width: 280px;
        max-height: 280px;
        border: 1px solid var(--amber-100); 
    } 

    #aboutMeSection {
        max-width: 480px;
        border: 2px solid var(--black-100);
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        background-color: #313030;
    }

    #skillsSection {
        max-height: 2500px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 5px; */
    }
    #skillsSection #skillsContainer {
        margin-top: 80px;
        max-width: 300px;
        height: auto;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #skillsSection #skillsContainer > .gridContainer{
        /* width: 100%; */
        max-width: 400px;
        display: grid;
        grid-template-columns: 100px 100px;
        /* grid-template-rows: 50px 50px; */

        /* grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); */
    
        /* height: 750px; */
        /* width: 450px; */
        max-height: 4500px;

        column-gap: 100px;
        row-gap: 10px;
       
        /* idei */
        /* position: non; */

       
    }

    /* #skillsSection #skillsContainer > .gridContainer > .gridSkill{ */
        /* width: 100%; */
        /* height: 50px; */
        /* width: 80px; */
        /* width:200px; */
        /* height: 110px; */
       
    /* } */

    #portfolioSection {
        /* margin-top: 50px; */
        max-width: 550px;
        /* display: flex; */
       
    }

    #portfolioSection .projectCard{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        border: 1px solid var(--black-100);
    }

    #portfolioSection .projectCard > img{
        max-width: 100%;
    }

    .cardDescription {
        text-align: center;
    }

    .cardTechnology {
        display: flex;
    }
}


/* transform: translateZ(50px) scale(.9); */

/* --------Mobile-------- */

@media screen and (max-width: 320px){
    #navbar {
        background-color: red;
    }

    /* #skillsSection #skillsContainer { de cautat de ce nu pot ajunge la 300px
        margin-top: 80px;
        max-width: 300px;
        height: auto;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    } */


    /* #navbar ul{
        display: none;
        width: 100%;
        flex-direction: column;
       
   
        align-items: center;
        justify-content: center;
        height: calc(100vh - 60px); 

    } */

    /* #navbar ul li {
        text-align: center;
        font-size: 3rem;
        border-bottom: 1px solid var(--amber-100);
    
    } */
    
    /* #navbar label{
        display: block;
    } */

    /* #toggle label{
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        background-color: white;
    } */

    /* #toggle:checked  + #menu {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        background-color: rgba(0, 0, 0, 0.911);
   

    } */

    /* #homeSection { */
        /* width: 100%; */
        /* max-width: 700px;
    
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    } */

    /* #homeSection .homeImg > img{
        margin-top: -100px;
        max-width: 200px;
    
    } */

    /* #homeSection .homeText{
        width: 100%;
        max-width: 500px;
        max-height: 300px;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
    } */

    /* #homeSection .homeText h1{
        font-size: 2em;
    } */

    /* #homeSection .homeText > h1.jobTitle {
        text-align:center;
        font-size: 2em;
    } */

    /* #homeSection .homeText > h1.jobTitle > span {
        margin: 2px;
        padding: 10px;
        text-align: center;
    
    } */

    /* #homeSection .homeText > .homeDescription {
        text-align:center;
        font-size: 1em;
    } */

    /* #homeSection .homeText .socialMedia{
        margin: 0px;
        padding: 0px;
        display: flex;
    } */

    /* #aboutMeSection {
        max-width: 480px;
        border: 2px solid var(--black-100);
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        background-color: #313030;
    } */

    /* #aboutMeSection .aboutMeDecription{
        margin-top: 50px;
        max-width: 450px;
        display: flex;
    } */

    /* #aboutMeSection img{
        max-width: 280px;
        max-height: 280px;
        border: 1px solid var(--amber-100); 
    }  */

    /* #aboutMeSection {
        max-width: 480px;
        border: 2px solid var(--black-100);
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        background-color: #313030;
    } */

    /* #skillsSection {
        max-height: 2500px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    /* #skillsSection #skillsContainer {
        margin-top: 80px;
        max-width: 500px;
        height: auto;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    } */

    /* #skillsSection #skillsContainer > .gridContainer{
      
        max-width: 400px;
        display: grid;
        grid-template-columns: 100px 100px;
  
        max-height: 4500px;

        column-gap: 100px;
        row-gap: 10px;
       
 

       
    } */

    /* #skillsSection #skillsContainer > .gridContainer > .gridSkill{ */
        /* width: 100%; */
        /* height: 50px; */
        /* width: 80px; */
        /* width:200px; */
        /* height: 110px; */
       
    /* } */

    /* #portfolioSection {
       
        max-width: 550px;
       
    } */

    /* #portfolioSection .projectCard{
        display: flex;
        flex-direction: column;
        border: 1px solid var(--black-100);
    } */

    /* #portfolioSection .projectCard > img{
        max-width: 100%;
    } */

    /* .cardDescription {
        text-align: center;
    } */

    /* .cardTechnology {
        display: flex;
    } */
}


/* transform: translateZ(50px) scale(.9); */