/* PORTFOLIO SECTION */
:root {
    --surface-color: #fff;
    --surface-color: #fff;
    --black-100: #000000; /*new*/
    --curve: 40;
    --green-100: #3fa34d;
    --amber-100: #ffd230; /*new*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#portfolioSection {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 80vw;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 50px;
    padding: 30px;
}
  
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 3.8rem;
    margin: 6rem 5vw;
    padding: 0;
    list-style-type: none;
}
  
.projectCard {
    border: 1px solid var(--black-100);
    position: relative;
    display: block; 
    height: 100%;  
    border-radius: 40px;
    font-size: 1.2rem;
    overflow: hidden;
    text-decoration: none;
}
  
.card__image {      
    background-image: cover;
    padding: 0px;
    height: 3900px;
}
  
.projectCard > img{      
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    width: 500px;
    height: 380px;
}

#asociatiaProject > img{
    padding: 2rem 2rem 5rem 2rem;
}

#inProgress > img{
    padding: 2rem 4rem 9rem 2rem;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    transform: translateY(100%);
    transition: .2s ease-in-out;
}
  
.projectCard:hover .card__overlay {
    transform: translateY(0);
    background-color: var(--green-100);
    color: beige;
}
  

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1rem;
    border-radius: calc(var(--curve) * 1px) 0 0 0; 
    background-color: var(--amber-100);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}
  
.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
}
  
.card__arc path {
    fill: var(--amber-100);
    border-radius: 0 40 0 0; 
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       
  
.projectCard:hover .card__header {
    transform: translateY(0);
}
  
.card__thumb {
    background-color: red;
    border: 2px solid rgb(189, 2, 2);
    flex-shrink: 0;
    width: 60px;
    height: 60px;      
    border-radius: 50%;    
    display: flex;
    align-items: center;
    justify-content: center; 
}
  
.card__thumb > button{
    text-align: center;
    color: yellow;
    cursor: pointer;
}

#liveDemo{
    color: yellow;
}

.card__title {
    font-size: 1rem;
    margin: 0 0 .3em;
    color: #41323a;
}

.card__status {
    font-size: 0.8rem;
    color: rgb(255, 240, 219);
    font-weight: bold;
}
  
.card__description{
    padding: 1rem 2rem 2rem 2rem;
    margin: 0;
    color: rgb(255, 240, 219);
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;  
    font-size: 0.8rem;
}    