/* PORTFOLIO SECTION */
#portfolioSection {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 80vw;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 50px;
    padding: 30px;
}

/* #portfolioSection .projectCard:first-child{
    margin-top: 150px;
} */

/* #portfolioSection .projectCard{
    min-width: 250px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid var(--black-100);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;   
    border-radius: 50px;
    padding: 10px;
} */

/* #portfolioSection .projectCard:hover{
    background-color: var(--black-80);
    color: var(--black-10);
    cursor: pointer;
} */

/* .projectCard img {
    background-color: bisque;
} */

/* .projectCard:hover #projectTitle {
    color: var(--amber-100);
} */

/* .cardDescriptionText {
    text-align: center;
} */

/* .projectCard:hover .cardDescriptionText {
    font-style: oblique;
    text-align: center;
} */

/* .projectCard:hover .cardTechnologyBtn {
    color: var(--amber-100);
    background-color: var(--black-90);
} */

/* .projectCard:hover #liveDemo,
.projectCard:hover #gitCode {
    color: var(--black-100);
    background-color: var(--amber-100);
} */

/* .projectCard:hover #liveDemo:hover,
.projectCard:hover #gitCode:hover {
    background-color: var(--black-100);
    color: var(--amber-100);
    width: 180px;
    transform: translateX(-5px);
    border: 2px solid var(--amber-100);
} */

/* .projectCard img.imgCard {
    border-radius: 50px;
    height: 250px;
    width: 700px;
    object-fit: cover;
} */

/* .cardTitle h1 {
    color: var(--black-100);
    font-size: 2.2em;
} */

/* .contentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} */

/* .contentCard p{
    font-size: 1.5em;
} */

/* .cardTechnology button{
   
    margin-left: 30px;
    margin-right: 30px;
    width: 100px;
    padding: 5px;
    font-size: 1em;
    border: 1px solid var(--black-100); 
} */


/* .cardCodeDemo button{
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
    padding: 5px;
    font-size: 1em;
    border: 1px solid var(--black-100); 
    border-radius: 20px;
} */
/* ----------------------------- */

:root {
    --surface-color: #fff;
    --surface-color: #fff;
    --black-100: #000000; /*new*/
    --curve: 40;
    --green-100: #3fa34d;
}
  
/* * {
    box-sizing: border-box;
} */
  
/* body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #c16767;
} */
  
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 3.8rem;
    margin: 6rem 5vw;
    padding: 0;
    list-style-type: none;
}
  
.projectCard {
    border: 1px solid var(--black-100);

    position: relative;
    display: block;  /*de citit despre display block*/
    height: 100%;  
    
    /* border-radius: calc(var(--curve) * 1px); */
    border-radius: 40px;
    font-size: 1.2rem;
    overflow: hidden;
    text-decoration: none;
}
  
.card__image {      
    /* border: 2px solid magenta; */
    /* background-color: rgba(255, 0, 255, 0.164); */
background-image: cover;

    padding: 0px;
    height: 3900px;
    /* width: 400px; */
    /* height: auto; */
}
  
.projectCard > img{      
    /* border: 2px solid magenta; */
    /* background-color: rgba(255, 0, 255, 0.164); */
    background-size: cover;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    padding: 0px;
    width: 500px;
    /* height: 90%; */
    height: 380px;
}

#asociatiaProject > img{
    padding: 2rem 2rem 5rem 2rem;
}

#inProgress > img{
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* object-fit: cover; */
    padding: 0px;
    /* width: 100%; */
    /* height: 90%; */
}
.card__overlay {
    /* padding: 20px; */
    /* border: 2px solid blueviolet; */
    /* background-color: rgba(137, 43, 226, 0.573); */

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    /* background-color: var(--surface-color);*/


    transform: translateY(100%); /*e corelat cu transformul de la .card:hover*/
    transition: .2s ease-in-out;
}
  
.projectCard:hover .card__overlay {
    transform: translateY(0);
    background-color: var(--green-100);
    color: beige;
}
  

.card__header {
    /* border: 2px solid orange; */
    /* background-color: rgba(226, 144, 43, 0.573); */



    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1rem;
    border-radius: calc(var(--curve) * 1px) 0 0 0; /*border radius left top*/   
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}
  
.card__arc {
    /* border: 2px solid rgb(0, 0, 0); */
    /* background-color: rgba(24, 19, 74, 0.573); */

    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
}
  
.card__arc path {
    /* border: 2px solid rgb(0, 107, 16); */
    /* background-color: rgba(43, 226, 198, 0.573); */


    fill: var(--surface-color);
    border-radius: 0 40 0 0; 

    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       
  
.projectCard:hover .card__header {
    /* background-color: yellow; */
    /* border: 2px solid rgb(189, 189, 2); */

    transform: translateY(0);
}
  
.card__thumb {
    background-color: red;
    border: 2px solid rgb(189, 2, 2);

    flex-shrink: 0; /*de citit*/
    width: 60px;
    height: 60px;      
    border-radius: 50%;    
    display: flex;
    align-items: center;
    justify-content: center; 

}
  
.card__thumb > button{
    text-align: center;
    color: yellow;
    cursor: pointer;
}

#liveDemo{
    color: yellow;

}

.card__title {
    font-size: 1rem;
    margin: 0 0 .3em;
    color: #41323a;
}

.card__status {
    font-size: 0.8rem;
    color: #0ca346;
    font-weight: bold;
}
  
.card__description{
    padding: 1rem 2rem 2rem 2rem;
    margin: 0;
    color: bisque;
    text-align: justify;
    /* font-family: "MockFlowFont";  */
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;  
    font-size: 0.8rem;
    /* display: -webkit-box; */
    /* -webkit-box-orient: vertical; */
    /* -webkit-line-clamp: 3; */
    /* overflow: hidden; */
}    


/* doar in cardul 3 */
.card__tagline {
    background-color: rgb(0, 221, 255);
    border: 2px solid rgb(189, 2, 2);

    /* display: block; */
    /* margin: 1em 0; */
    /* font-family: "MockFlowFont";   */
    /* font-size: .8em;  */
    /* color: #D7BDCA;   */
}