* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #FDC500 #fff;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    text-decoration: none;


    /* Color palette */
    --amber-100: #f9b000; /*new*/
    --amber-90: #f9ae009f; /*new*/

    --orange-50: #fdb849;
    --primary_color: #f9b000;
    --amber-80: rgba(249, 176, 0, 0.85);
    --amber-70: rgba(249, 176, 0, 0.7);
    --primary_color-5a: rgba(249, 176, 0, 0.5);
    --primary_color-35a: rgba(249, 176, 0, 0.35);
    --primary_color-2a: rgba(249, 176, 0, 0.2);


    --green-100: #3fa34d;

    /* 3FA34D
    7FB446
    BFC540
    FFD639
    FBAF00

    fb6107 */

    --white-100: #ffffff; /*new*/
    --white-50: #f2f2f2;
    --white-10: #e5e5e5;
    --black-100: #000000; /*new*/
    --black-90: #222222; /*new*/
    --black-80: #313030;  /*new*/
    --black-50: #747474; /*new*/
    --black-45: #74747477; /*new*/
    --black-40: #7474741b; /*new*/

    --black-10: #d2d2d2; /*new*/


    font-family: "Lato", sans-serif;

        /* font-weight: 100; */
    
}

/* SKILLS SECTION */
#skillsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

#skillsContainer {
    height: 550px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7%;
    margin-top: 75px;
    margin-bottom: 80px;
}

.skillDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    padding: 30px;
}

.skillDescription p {
    text-align: center;
    font-size: 1.5em;
    color: var(--black-80);
}

.moreSkillDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    padding: 5px;
}

.moreSkillDescription > .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.moreSkillDescription > .buttons > a  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--black-90);
    color: var(--white-100);
    /* border: 2px solid var(--black-90); */
}

.moreSkillDescription > .buttons > a > button.resumeBtn,
.moreSkillDescription > .buttons > a > button.portfolioBtn  {
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--green-100);
    color: var(--white-100);
    border: 1px solid var(--black-100);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 100%;
    letter-spacing: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

/* .moreSkillDescription > .buttons > button.portfolioBtn {
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--black-90);
    color: var(--white-100);
    border: 1px solid var(--black-90);

} */
 
.moreSkillDescription > .buttons > button:hover,
.moreSkillDescription > .buttons > a > button.portfolioBtn:hover,
.moreSkillDescription > .buttons > a > button.resumeBtn:hover{
    color: var(--black-90);
    background-color: var(--amber-100);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    /* box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3); */
}

.containerGrid{
    width: 900px;
    height: 400px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5%;
}

.containerCard:hover > .card{
    cursor: pointer;
    transform: rotateX(180deg);
}

.card{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    padding: 1%;
}

.frontCard, .backCard {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backface-visibility: hidden;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    font-weight: bold;
}

.frontCard  {
    background-color: var(--amber-100);
    box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
}

.frontCard > h3  {
    /* background-color: var(--amber-100);
    box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35); */
    text-transform: uppercase;
    font-size: 0.95em;
    color: var(--black-90);
    font-weight: bolder;
}

.responsiveDesign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsiveSkills .material-symbols-outlined {
    color: var(--green-100);
    font-size: 48px;
    background-color: var(--white-100);
    border-radius: 10px;
}

.backCard  {
    box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
    background-color: var(--white-100);
    border-radius: 2rem;
    transform: rotateX(180deg);
    color: var(--green-100);
    text-transform: uppercase;
}

.tailwindSkill .backCard h2,
.responsiveDesignSkill .backCard h2,
.bootstrapSkill .backCard h2,
.javascriptSkill .backCard h2{
    font-size: 21px;
    font-weight: bolder;
}
