/* SKILLS SECTION */
#skillsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px salmon solid;
    /* height: 80vh; */
    /* width: 85vw;  */
    /* padding: 3px; */
}

#skillsContainer {
    height: 550px;
    width: 1100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 80px;
 

}

.skillDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    padding: 30px;
    border: 2px green solid;

}

.skillDescription p {
    text-align: center;
    font-size: 2em;
    color: var(--black-80);
}

.moreSkillDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 500px;
    height: 400px;
    padding: 30px;
}

.moreSkillDescription > .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.moreSkillDescription > .buttons > button {
    text-align: center;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--black-90);
    color: var(--white-100);
    border: 1px solid var(--black-90);
}
 
.moreSkillDescription > .buttons > button:hover{
    background-color: var(--amber-100);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.containerGrid{
    width: 900px;
    height: 400px;
    padding: 30px;
    background-color: rgba(255, 0, 0, 0.048);
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.containerCard:hover > .card{
    cursor: pointer;
    transform: rotateX(180deg);

}

.card{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.frontCard, .backCard {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backface-visibility: hidden;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.frontCard  {
    background-color: var(--amber-100);
}

.backCard  {
    background-color: var(--white-100);
    border-radius: 2rem;
    transform: rotateX(180deg);
}
